header {
    
    background-color: #3A7DDF;
    padding: 10px;
    margin:0 10px 0 10px ;
  
}

header img {
   width: 1290px;
}

#wrapper{
    margin: 0 10px 0 10px;
}
aside {
   background-color: black;
    display:inline;
    vertical-align: top;
}

nav {
    
    top: 0px;
    height: 50px;
    background-color: #316fb9;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 15px;
}

nav ul li {
    padding: 0px 15px;
    float: left;
    text-align: center;
}



nav ul a {
    text-decoration: none;
    color: #03254e;
    font-size: 20px;
}
 
nav a:hover{

    color:white;
}

fieldset{
    border-radius: 20px;
    border-width: 5px;
    border-color: #073469;
    border-style: double;
    width: 40%;
}

div#content {
    
    background-color:#7faade;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 15px 0 15px 15px;
    padding: 3px;
    border: 3px solid #316fb9;
}

h1{
    color: #03254e;
}

h3, h4{
    color: #073469;
}

p{
    color: #1755a0;
    text-align: justify;
}


footer {
    
    margin:0 10px 0 10px ;
    padding: 5px 20px;
    background-color: #3a7ddf;
}

video{
    float: left;
    margin: 0 20px 20px 0;
    width: 360px;
    height: 300px;
}

.link{
    text-decoration: none;
    color: #396aa4;
    font-size: 40px;
    text-shadow: 2px 2px black;
    font-style: italic;
    
}



#keret {
	width: 500px;
    border-radius: 20px;
	}
label {
	line-height: 30px;
	}
label input, label textarea {
	
	padding: 2px;
   
	}
textarea {
	width: 350px;
   
	}
input[type="submit"] {
	
	clear: both;
	}
button {
	color:#1755a0;
	}




